body{
    height:2000px;
}
h1,h2,h3,h4,h5,p{
    margin-bottom:20px;
}

nav{
    position:fixed;
    height:50px;
    width:100px;
    background-color:aqua;
    text-align:center;
    z-index:99;
    
}
nav a{
    color:#fff;
    line-height:500px;
}
.sect{
    height:2000px;
    background-size:cover;
    background-attachment:fixed;
}
.subSection{
    height:1500px;
    background-color:white;
}
.sectOne{
    background:url("https://static.pexels.com/photos/64778/pexels-photo-64778-large.jpeg");
}
.sectTwo{
    background:url("https://static.pexels.com/photos/64776/pexels-photo-64776-large.jpeg");
}
.sectThree{
    background:url("https://images.pexels.com/photos/64777/pexels-photo-64777.jpeg?w=940&h=650&auto=compress");
}