body {
    font-family: sans-serif;
    margin-top: 150px;
    padding-left:30px;
    padding-right:30px;
    background: url("http://media.gettyimages.com/videos/stack-of-book-with-pen-on-wood-table-background-video-id492143076?s=640x640");
    background-size: 1280px 720px, cover;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 100%;
    font-family:sans-serif;
    text-align:center;
}




.img-medium {
    height: 100px;
}

