*{
    margin:0;
    border:0;
    padding:0;
}
body
{
    height:1000px;
}

nav{
    position:fixed;
    height:50px;
    width:2000px;
    background-color:gray;
    text-align:center;
    color: #4A4444;
    z-index:99;
    text-decoration: none;
    font-weight:bold;
    word-spacing:50px;
}
p{
    
    text-align:center;
    color:grey;
    font-size:20px;
    font-family:'nobile',san-serif;
    word-spacing:10px;
    padding:100px 50px 50px 50px;
}
h1{
    text-align:center;
    color:black;
    font-size:50px;
    font-family:'nobile',san-serif;
    font-weight:bold;
    word-spacing:3px;
    padding:50px 50px 50px 50px;
    
}

.subSection{
    background-color:bisque;
    text-align:center;
}
nav1{
    background: url("https://static.pexels.com/photos/64778/pexels-photo-64778-large.jpeg");
    background-size: 2000px 1000px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align:center;
    color:white;
    font-size:100px;
    font-family:'nobile',san-serif;
}    
nav3{
    background-color:aliceblue;
    background-size: 2000px 1000px;
    text-align:center;
    font-size:100px;
    font-family:'nobile',san-serif;
}

    